<div class="container">
  <h4>化粧下地</h4>
  <div class="row">
    <% @base.each do |b| %>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="item">
          <%= link_to cosmetic_path(b.id) do %>
            <% if b.image.attached? %>
              <%= image_tag b.image, size: "130x130" %>
            <% else %>
              <%= image_tag 'no_image', size: "130x130" %>
            <% end %>
          <% end %>
        </div>
        <div class="item"><%= b.brand %></div>
        <div class="item"><%= b.name %></div>
        <div class="item"><%= b.color %></div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @cosmetics %>
  </div>
</div>