<div class="container">
<h2>化粧下地</h2>
  <% @base.each do |b| %>
    <div>
      <%= link_to cosmetic_path(b.id) do %>
          <% if b.image.attached? %>
          <%= image_tag b.image, size: "50x50" %>
          <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <% end %>
      <%= b.name %>
      <%= b.brand %>
      <%= b.color %>
    </div>
  <% end %>
    <div class="d-flex justify-content-center">
   <%= paginate @cosmetics %>
   </div>
</div>