<div class="container">
  <h2><span>CEZANNE</span></h2>
  <% @cezanne.each do |c| %>
    <div>
      <%= link_to cosmetic_path(c.id) do %>
          <% if c.image.attached? %>
          <%= image_tag c.image, size: "50x50" %>
          <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <% end %>
      <%= c.name %>
      <%= c.brand %>
      <%= c.color %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
   <%= paginate @cosmetics %>
   </div>
</div>