<div class="container">
  <h4>チーク</h4>
  <div class="row">
    <% @cheek.each do |c| %>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="item">
          <%= link_to cosmetic_path(c.id) do %>
            <% if c.image.attached? %>
              <%= image_tag c.image, size: "130x130" %>
            <% else %>
              <%= image_tag 'no_image', size: "130x130" %>
            <% end %>
          <% end %>
        </div>
        <div class="item"><%= c.name %></div>
        <div class="item"><%= c.brand %></div>
        <div class="item"><%= c.color %></div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @cosmetics %>
  </div>
</div>