<div class="container">
<h2>アイシャドウ</h2>
  <% @eyeshadow.each do |e| %>
    <div>
      <%= link_to cosmetic_path(e.id) do %>
          <% if e.image.attached? %>
          <%= image_tag e.image, size: "50x50" %>
          <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <% end %>
      <%= e.name  %>
      <%= e.brand %>
      <%= e.color %>
    </div>
  <% end %>
</div>