<div class="container">
  <h4><span>アイシャドウ</h4></span>
    <table class="table">
      <tbody>
        <% @eyeshadow.each do |e| %>
          <tr>
            <td><%= link_to cosmetic_path(e.id) do %>
                <% if e.image.attached? %>
                <%= image_tag e.image, size: "50x50" %>
                <% else %>
                <%= image_tag 'no_image', size: "50x50" %>
                <% end %>
                <% end %>
            </td>
            <td><%= e.name  %></td>
            <td><%= e.brand %></td>
            <td><%= e.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @cosmetics %>
</div>