<div class="container">
  <h4>ファンデーション</h4>
  <div class="row">
    <% @foundation.each do |f| %>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="item">
          <%= link_to cosmetic_path(f.id) do %>
            <% if f.image.attached? %>
              <%= image_tag f.image, size: "130x130" %>
            <% else %>
              <%= image_tag asset_path('default-image.jpg'), size: "130x130" %>
            <% end %>
          <% end %>
        </div>
        <div class="item"><%= f.brand %></div>
        <div class="item"><%= f.name  %></div>
        <div class="item"><%= f.color %></div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @cosmetics %>
  </div>
</div>