<div class="container">
  <h4><span>ファンデーション</h4></span>
    <table class="table">
      <tbody>
        <% @foundation.each do |f| %>
          <tr>
            <td><%= link_to cosmetic_path(f.id) do %>
                <% if f.image.attached? %>
                <%= image_tag f.image, size: "50x50" %>
                <% else %>
                <%= image_tag 'no_image', size: "50x50" %>
                <% end %>
                <% end %>
            </td>
            <td><%= f.name  %></td>
            <td><%= f.brand %></td>
            <td><%= f.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @cosmetics %>
</div>