<%#= stylesheet_link_tag "cosmetic", :media => "all" %>
<div class="container">
  <h2><span>すべての化粧品</span></h2>
  <div class="row">
    <% @cosmetics.each do |cosmetic| %>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="item">
        　<%= link_to cosmetic_path(cosmetic.id) do %>
            <% if cosmetic.image.attached? %>
              <%= image_tag cosmetic.image, size: "130x130" %>
            <% else %>
              <%= image_tag 'no_image', size: "130x130" %>
            <% end %>
          <% end %>
        </div>
        <div class="item"><%= cosmetic.name %></div>
        <div class="item"><%= cosmetic.color %></div>
        <div class="item"><%= cosmetic.brand %></div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @cosmetics %>
  </div>

  <div class="row">
    <div class="col-sm-12 col-6">
      <div class="brand02 ml-4">
        <div class="cosme">ブランド</div>
        <%= link_to "CEZANNE", cezanne_path %>
        <%= link_to "CANMAKE", canmake_path %>
        <%= link_to "INTEGRATE", integrate_path %>
      </div>
    </div>
    <div class="col-6 col-sm-12">
      <div class="category02 ml-4">
        <div class="cosme">商品ラインナップ</div>
        <%= image_tag 'eyebrow.png', size: "30x30" %><%= link_to "アイブロウ", eyebrow_path %>
        <%= image_tag 'pen.png', size: "30x30" %><%= link_to "アイライナー", eyeliner_path %>
        <%= image_tag 'lash.png', size: "30x30" %><%= link_to "マスカラ", mascara_path %>
        <%= image_tag 'mirror.png', size: "30x30" %><%= link_to "アイシャドウ", eyeshadow_path %>
        <%= image_tag 'rouge2.png', size: "30x30" %><%= link_to "リップ", lip_path %>
        <%= image_tag 'base.png', size: "30x30" %><%= link_to "化粧下地", base_path %>
        <%= image_tag 'cheek.png', size: "30x30" %><%= link_to "チーク", cheek_path %>
        <%= image_tag 'faundation.png', size: "30x30" %><%= link_to "ファンデーション", foundation_path %>
        <%= image_tag 'powder.png', size: "30x30" %><%= link_to "パウダー", powder_path %>
      </div>
     </div>
  </div>
</div>