<div class="container">
<h2><span>INTEGRATE</h2></span>
  <% @integrate.each do |i| %>
    <div>
      <%= link_to cosmetic_path(i.id) do %>
          <% if i.image.attached? %>
          <%= image_tag i.image, size: "50x50" %>
          <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <% end %>
      <%= i.name %>
      <%= i.brand %>
      <%= i.color %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
   <%= paginate @cosmetics %>
   </div>
</div>