<div class="container">
  <h4><span>パウダー</h4></span>
    <table class="table">
      <tbody>
        <% @powder.each do |po| %>
          <tr>
            <td><%= link_to cosmetic_path(po.id) do %>
                <% if po.image.attached? %>
                <%= image_tag po.image, size: "50x50" %>
                <% else %>
                <%= image_tag 'no_image', size: "50x50" %>
                <% end %>
                <% end %>
            </td>
            <td><%= po.name %></td>
            <td><%= po.brand %></td>
            <td><%= po.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @cosmetics %>
</div>
