  <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <% if @cosmetic.image.attached? %>
        <%= image_tag @cosmetic.image, size: "150x150" %>
        <% else %>
        <%= image_tag 'default_image', size: "150x150" %>
        <% end %>
      </div>
      <div class="text-center">
          <td><%= @cosmetic.brand %></td>
       </div>
       <div class="text-center">
          <td><%= @cosmetic.name %></td>
          <td><%= @cosmetic.color %></td>
       </div>
          <div class="text-center">
           <p><%= link_to "レビューする", new_cosmetic_review_path(@cosmetic.id), class:"btn btn-primary" %></p>
          </div>
          </div>
          </div>

  <div class="row">
    <div class="col-8">
  <table class="table table-borderless">
  <thead>
    <tr>
      <th>評価</th>
      <th>レビュー</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <div id="rate_<%= review.id %>"></div>
        </td>
        <td><%= review.review %></td>
        <td><%= link_to "➡︎", cosmetic_review_path(@cosmetic, review.id), class:"btn btn-primary" %></td>
      </tr>
      <script>
        document.getElementById('rate_<%= review.id %>').innerHTML = '';
        raty(document.getElementById('rate_<%= review.id %>'), {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: <%= review.rate %>,
            readOnly: true,
          });
      </script>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
