<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <% if @cosmetic.image.attached? %>
        <%= image_tag @cosmetic.image, size: "200x200" %>
        <% else %>
        <%= image_tag asset_path('default-image.jpg'), size: "200x200" %>
        <% end %>
      </div>
      <div class="item"style="margin-top: 5px; font-size: 15px;">
        <td><%= @cosmetic.brand %></td>
      </div>
      <div class="item"style="margin-top: 5px; font-size: 15px;">
        <td><%= @cosmetic.name %></td>
      </div>
      <div class="item"style="margin-top: 5px; font-size: 15px;">
        <td><%= @cosmetic.color %></td>
      </div>
      <div class="item"style="margin-top: 15px;">
        <%= link_to "レビューする", new_cosmetic_review_path(@cosmetic.id), class:"btn3 btn-border" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-borderless" style="margin-top: 50px;">
        <thead>
          <tr>
            <th>評価</th>
            <th></th>
            <th>投稿者</th>
            <th>肌タイプ</th>
            <th>パーソナルカラー</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <div id="rate_<%= review.id %>"></div>
              </td>
              <td><%= review.review %></td>
              <td><%= review.user.nickname %></td>
              <td><%= review.user.skin_type.type_name %></td>
              <td><%= review.user.parsonal_color.color_name %></td>
              <td><%= link_to "➡︎", cosmetic_review_path(@cosmetic, review.id), class:"btn btn2--circle btn--circle-c btn2--shadow" %></td>
            </tr>
            <script>
              document.getElementById('rate_<%= review.id %>').innerHTML = '';
              raty(document.getElementById('rate_<%= review.id %>'), {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: <%= review.rate %>,
                  readOnly: true,
                });
            </script>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
