<div class="container">
  <div class="row">
    <% if @comment.errors.any? %>
      <%= @comment.errors.count %>件のエラーが発生しました
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="col-12">
      <h4><span>コメントの編集</span></h4>
      <%= form_with model: @comment, url: cosmetic_review_comment_path(@comment.id) do |f| %>
        <div class="item" style="margin-top: 100px; font-size:15px;">
          <%= f.text_area :comment %>
        </div>
        <div class="item" style="margin-top: 30px;">
          <%= f.submit '保存', class:"btn btn-primary", style:"margin-right: 5px;" %>
          <%= link_to "削除", cosmetic_review_comment_path(@comment.id), method: :delete, class:"btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
 </div>