<h4>レビュー一覧</h4>
<table class="table">
  <thead class="thead-light">
    <tr>
        <th scope="col">レビューID</th>
        <th scope="col">化粧品名</th>
        <th scope="col">カラー</th>
        <th scope="col">投稿者</th>
        <th scope="col">評価</th>
        <th scope="col">レビュー</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
      <% @reviews.each do |review| %>
      <tr>
          <td><%= review.id %></td>
          <td><%= review.cosmetic.name %></td>
          <td><%= review.cosmetic.color %></td>
          <td><%= review.user.nickname %></td>
          <td><div id="rate_<%= review.id %>"></div></td>
          <td><%= review.review %></td>
          <td><%= link_to "削除", admin_review_path(review.id), method: :delete, class:"btn btn-danger" %></td>
      </tr>

      <script>
        document.getElementById('rate_<%= review.id %>').innerHTML = '';
        raty(document.getElementById('rate_<%= review.id %>'), {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: <%= review.rate %>,
            readOnly: true,
          });
      </script>
      <% end %>
  </tbody>
  </table>
  <div class="d-flex justify-content-center">
  <%= paginate @reviews %>
 </div>