<div class="container">
  <div class="row">
    <% if @cosmetic.errors.any? %>
      <%= @cosmetic.errors.count %>件のエラーが発生しました
      <ul>
        <% @cosmetic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="col-12">
      <h4>化粧品編集</h4>
      <div class="item" style="margin-top: 50px; font-size: 15px;">化粧品画像</div>
      <%= form_with model: @cosmetic, url:admin_cosmetic_path(@cosmetic.id) do |f| %>
        <div class="item">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="item" style="margin-top: 20px; font-size: 15px;">化粧品名</div>
        <div class="item" style="font-size: 15px;"><%= f.text_field :name %></div>
        <div class="item" style="margin-top: 20px; font-size: 15px;">ブランド</div>
        <div class="item" style="font-size: 15px;"><%= f.text_field :brand %></div>
        <div class="item" style="margin-top: 20px; font-size: 15px;">カラー</div>
        <div class="item" style="font-size: 15px;"><%= f.text_field :color %></div>
        <div class="item" style="margin-top: 20px; font-size: 15px;">出典</div>
        <div class="item" style="font-size: 15px;"><%= f.text_field :source %></div>
        <div class="item" style="margin-top: 20px;"><%= f.submit '変更を保存', class:"btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>