<div class="container">
  <div class="row">
    <% if @review.errors.any? %>
      <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="col-12">
      <h4><span>レビューの編集</span></h4>
      <%= form_with model: @review, url: cosmetic_review_path(@review.id) do |f| %>
        <div class="item" style="margin-top: 100px;">
          <div id="post_raty"></div>
        </div>
        <div class="item" style="margin-top: 30px; font-size:15px;">
          <%= f.text_area :review %>
        </div>
        <div class="item" style="margin-top: 30px;">
          <%= f.submit '変更', class:"btn btn-primary", style:"margin-right: 5px;" %>
          <%= link_to "削除", cosmetic_review_path(@review.id), method: :delete, class:"btn btn-danger" %>
        </div>
      <% end %>
      <script>
        var elem = document.getElementById('post_raty');
        var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: "review[rate]",
          };
        raty(elem,opt);
      </script>
    </div>
  </div>
</div>