  <div class="container">
    <div class="row">
      <div class="col-10">
          <h4>検索結果 "<%= @keyword %>"</h4>
              <ul>
                <table class="table">
                  <tbody>
                    <% @cosmetics.each do |cosmetic| %>
                       <tr>
                         <td><%= link_to cosmetic_path(cosmetic.id) do %>
                        <% if cosmetic.image.attached? %>
                        <%= image_tag cosmetic.image, size: "50x50" %>
                        <% else %>
                        <%= image_tag 'no_image', size: "50x50" %>
                        <% end %>
                        <% end %></td>
                         <td><%= cosmetic.brand %></td>
                         <td><%= cosmetic.name %></td>
                         <td><%= cosmetic.color %></td>
                       </tr>
                      <% end %>
                  </tbody>
                </table>
              </ul>
      </div>
    </div>
  </div>