 <div class="container">
  <div class="row">
    <div class="col-12">
        <div class="badge badge-light">レビューを投稿する</div>
    </div>
  </div>
        
         <div class="row">
            
            <div class="col-md-3 position-static">
                      <div id="post_raty"></div>
                
            </div>
          </div>
                
<script>
var elem = document.getElementById('post_raty');
var opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
  };
  raty(elem,opt);
</script>
    
        

          
        <%= form_with model: @review, url: cosmetic_reviews_path(@cosmetic.id) do |f| %>
        <%= f.text_area :review %>
      
        <%= f.submit '投稿', class:"btn btn-primary" %>
        <% end %>
        </div>