<div class="container">
  <%#= @review.inspect %>

 

  <div>
      <% if @review.user.profile_image.attached? %>
      <%= image_tag @review.user.profile_image, size: "50x50" %>
      <% else %>
      <%= image_tag 'no_image', size: "50x50" %>
      <% end %>
      <%= @review.user.nickname %>
  </div>

  <div>
    <div id="rate"></div>
  </div>

  <script>
    document.getElementById('rate').innerHTML = '';
    raty(document.getElementById('rate'), {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: <%= @review.rate %>,
        readOnly: true,
      });
  </script>
    <div>
      <%= @review.review %>
    </div>
    
    <% if @review.user_id == current_user.id %>
    <p><%= link_to "編集", edit_cosmetic_review_path, class:"btn btn-primary" %></p>
    <% end %>
    
    <%= form_with model: @comment,url: cosmetic_reviews_path do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit 'コメントする', class:"btn btn-primary" %>
    <% end %>
    </div>