<div class="container">
  <%#= @review.inspect %>
  <div class="row">
    <% if @comment.errors.any? %>
      <%= @comment.errors.count %>件のエラーが発生しました
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="col-12">
      <div class="review" style="font-size: 13px;">
        <% if @review.user.profile_image.attached? %>
          <%= image_tag @review.user.profile_image, size: "60x60" %>
        <% else %>
          <%= image_tag asset_path('no_image.jpg'), size: "60x60" %>
        <% end %>
        <%= @review.user.nickname %>
      </div>
      <div class="box" style="margin-left: 50px;">
        <div class="review" style="margin-top: 20px;">
          <div id="rate"></div>
        </div>

        <script>
          document.getElementById('rate').innerHTML = '';
          raty(document.getElementById('rate'), {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= @review.rate %>,
              readOnly: true,
            });
        </script>
        <div class="review" style="font-size: 20px; margin-top: 10px;">
          <%= @review.review %>
        </div>
        <div class="review">
          <% if @review.user_id == current_user.id %>
            <%= link_to "編集︎", edit_cosmetic_review_path, class:"btn btn-dark" %>
          <% end %>
        </div>

        <%= form_with model: @comment,url: cosmetic_review_comments_path(@review.cosmetic,@review) do |f| %>
          <div class="review" style="margin-top: 50px; font-size:15px;">
            <%= f.text_area :comment %>
          </div>
          <div class="review">
            <%= f.submit 'コメントする', class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-7"style="margin-top: 50px;">
      <h4>Comment</h4>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment|%>
            <tr>
              <td>
                <% if comment.user.profile_image.attached? %>
                  <%= image_tag comment.user.profile_image, size: "40x40" %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpg'), size: "40x40" %>
                <% end %>
              </td>
              <td style="font-size: 12px;"><%= comment.user.nickname %></td>
              <td style="font-size: 12px;"><%= comment.comment %></td>
              <td>
                <% if comment.user_id == current_user.id %>
                <%= link_to "➡︎", edit_cosmetic_review_comment_path(review_id: @review.id, id: comment.id), class:"btn btn2--circle btn--circle-c btn2--shadow" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>