<div class="container">
  <div class="row">
    <div class="col-6">
    <h3>パーソナルカラー一覧・追加</h3>
      <%= form_with model: @parsonal_color, url:admin_parsonal_colors_path do |f| %>
        <div class="row">
          <div class="item col-2" style="margin-top: 30px; margin-left: 100px; font-size:15px;"><%= f.text_field :color_name %></div>
          <div class="item col-2" style="margin-top: 30px; margin-left: 10px"><%= f.submit '登録', class:"btn btn-primary" %></div>
        </div>
      <% end %>

      <table class="table" style="margin-top: 50px;">
        <thead>
          <tr>
            <th>パーソナルカラー</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @parsonal_colors.each do |parsonal_color| %>
            <tr>
              <td><%= parsonal_color.color_name %></td>
              <td><%= link_to "編集", edit_admin_parsonal_color_path(parsonal_color.id), class:"btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>