<div class="container">
  <h4><span>新規会員登録</span></h4>
  <div class="row">
    <div class="col-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :nickname, "ニックネーム", style:"margin-right: 50px;" %>
          <%= f.text_field :nickname, autofocus: true %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :birth_date, "生年月日", style:"margin-right: 90px;" %>
          <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1923, end_year: (Time.now.year), default: Date.new(1989,1,1) %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :skin_type, "肌タイプ", style:"margin-right: 90px;" %>
          <%= f.collection_select :skin_type_id, SkinType.all, :id, :type_name, {prompt: "選択してください"} %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :parsonal_color, "パーソナルカラー", style:"margin-right: 40px;" %>
          <%= f.collection_select :parsonal_color_id, ParsonalColor.all, :id, :color_name, {prompt: "選択してください"} %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :introduction, "自己紹介", style:"margin-left: 25px;" %>
          <%= f.text_area :introduction, autofocus: true, style:"margin-left: 80px;" %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :email, style:"margin-left: 30px;"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style:"margin-left: 100px;" %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :password, "パスワード" %>
           <% if @minimum_password_length %>
             <em>(<%= @minimum_password_length %> 字以上)</em>
           <% end %>
           <%= f.password_field :password, autocomplete: "new-password", style:"margin-left: 50px; margin-right:23px;" %>
        </div>


        <div class="item" style="margin-top: 20px; font-size: 15px;">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", style:"margin-left: 55px; margin-right:15px;" %>
        </div>

        <div class="item" style="margin-top: 20px; font-size: 15px;"><%= f.submit "新規登録", class:"btn btn-primary" %></div>
      <% end %>

      <div class="item" style="margin-top: 20px; font-size: 15px;">
        すでに登録済みの方はこちらからログインしてください。
      </div>
      <div class="item">
        <%= link_to  new_user_session_path, class: "btn btn--header btn--cubic btn--shadow" do %>ログイン<% end %>
      </div>
    </div>
  </div>
</div>
