<div class="container">
  <div class="row">
    <div class="col-5">
      <h3><%= @user.nickname %>さんの会員情報編集</h3>
      <div class="item" style="margin-top: 30px; font-size: 15px;">会員ID</div>
      <div class="item" style="margin-top: 5px; font-size: 15px;"><%= @user.id %></div>
      <%= form_with model: @user, url:admin_user_path(@user.id) do |f| %>
        <div class="item" style="margin-top: 5px; font-size: 15px;">ニックネーム</div>
        <div class="item" style="margin-top: 10px; font-size: 15px;"><%= f.text_field :nickname %></div>
        <div class="item" style="margin-top: 10px; font-size: 15px;">生年月日</div>
        <div class="item" style="margin-top: 10px; font-size: 15px;">
          <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1923, end_year: (Time.now.year), default: Date.new(1989,1,1) %>
        </div>
        <div class="item" style="margin-top: 5px; font-size: 15px;">肌タイプ</div>
        <div class="item" style="margin-top: 5px; font-size: 15px;">
          <%= f.collection_select :skin_type_id, SkinType.all, :id, :type_name, {prompt: "選択してください"} %>
        </div>
        <div class="item" style="margin-top: 10px; font-size: 15px;">パーソナルカラー</div>
        <div class="item" style="margin-top: 5px; font-size: 15px;">
          <%= f.collection_select :parsonal_color_id, ParsonalColor.all, :id, :color_name, {prompt: "選択してください"} %>
        </div>

        <div class="item" style="margin-top: 10px; font-size: 15px;">メールアドレス</div>
        <div class="item" style="margin-top: 5px; font-size: 15px;"><%= f.text_field :email %></div>
        <div class="item" style="margin-top: 10px; font-size: 15px;">会員ステータス</div>

        <div class="item" style="font-size: 15px;">
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, '有効' %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, '退会' %>
        </div>

        <div class="item" style="margin-top: 10px;">
          <%= f.submit '保存', class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>