  <div class="container">
  <div class="row">
     <div class="badge badge-light">My Profile</div>
    <div class="col-12">
     
      <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, size: "100x100" %>
      <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
        <p><%= @user.nickname %></p>
        <p><%= @skin_type.type_name %></p>
        <p><%= @parsonal_color.color_name %></p>
        <p><%= @user.introduction %></p>
        <p><%= link_to "登録情報編集", users_edit_path, class:"btn btn-primary" %></p>
        </div>
        </div>
        </div>