<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="border-solid">
        <div class="user">
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        </div>
        <div class="user"><%= @user.nickname %></div>
        <div class="user"><%= @skin_type.type_name %></div>
        <div class="user"><%= @parsonal_color.color_name %></div>
        <div class="user"><%= @user.introduction %></div>
        <div class="user"><%= link_to "登録情報編集", users_edit_path, class:"btn2 btn-border-shadow btn-border-shadow--color" %></div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="search">
        <h5>化粧品を検索する</h5>
          <%= form_with url: search_cosmetics_path, local: true, method: :get do |form| %>
            <%= form.text_field :keyword %>
            <%= form.submit "検索", class:"btn btn-border" %>
          <% end %>
      </div>
    </div>
    <div class="offset-sm-6 col-sm-2 col-6">
      <div class="brand02 ml-4">ブランドから選ぶ
          <%= link_to "CEZANNE", cezanne_path %>
          <%= link_to "CANMAKE", canmake_path %>
          <%= link_to "INTEGRATE", integrate_path %>
      </div>
    </div>
    <div class="col-6 col-sm-2">
      <div class="category02 ml-4">カテゴリから選ぶ
              <%= link_to "アイブロウ", eyebrow_path %>
              <%= link_to "アイライナー", eyeliner_path %>
              <%= link_to "マスカラ", mascara_path %>
              <%= link_to "アイシャドウ", eyeshadow_path %>
              <%= link_to "リップ", lip_path %>
              <%= link_to "化粧下地", base_path %>
              <%= link_to "チーク", cheek_path %>
              <%= link_to "ファンデーション", foundation_path %>
              <%= link_to "パウダー", powder_path %>
      </div>
    </div>
  </div>
</div>