<!DOCTYPE html>
<html>
  <head>
    <title>COSMEnavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <header>
            <nav class="navbar navbar-expand-lg navbar-white">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>

<h1>COSMEnavi</h1>
<div><%= image_tag 'rouge2.png', size: "30x30" %></div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
         </ul>
    <div class="d-flex align-items-end">
    <% if user_signed_in? %>

          <div class="p-2"><%= link_to cosmetics_path, class: "btn btn--header btn--cubic btn--shadow" do %>すべての化粧品
      <% end %></div>

      <div class="p-2"><%= link_to my_page_path, class: "btn btn--header btn--cubic btn--shado" do %>マイページ
      <% end %></div>

      <div class="p-2"><%= link_to destroy_user_session_path, method: :delete, class: "btn btn--header btn--cubic btn--shado" do %>
      <i class="fas fa-sign-out-alt" style="color: white;" ></i>ログアウト
      <% end %></div>
    <% elsif admin_signed_in? %>

     <div class="p-2"><%= link_to admin_skin_types_path, class: "btn btn--header btn--cubic btn--shadow" do %>肌タイプ一覧
      <% end %></div>
      <div class="p-2"><%= link_to admin_parsonal_colors_path, class: "btn btn--header btn--cubic btn--shadow" do %>パーソナルカラー一覧
      <% end %></div>
      <div class="p-2"><%= link_to admin_cosmetics_path, class: "btn btn--header btn--cubic btn--shadow" do %>化粧品一覧
      <% end %></div>
      <div class="p-2"><%= link_to admin_users_path, class: "btn btn--header btn--cubic btn--shadow" do %>会員一覧
      <% end %></div>
      <div class="p-2"><%= link_to admin_reviews_path, class: "btn btn--header btn--cubic btn--shadow" do %>レビュー一覧
      <% end %></div>

      <div class="p-2"><%= link_to destroy_admin_session_path, method: :delete, class: "btn btn--header btn--cubic btn--shadow" do %>ログアウト
      <% end %></div>
    <% else %>
       <div class="p-2"><%= link_to new_user_registration_path, class: "btn btn--header btn--cubic btn--shadow" do %>新規登録
      <% end %></div>
       <div class="p-2"><%= link_to  new_user_session_path, class: "btn btn--header btn--cubic btn--shadow" do %>ログイン
      <% end %></div>
      <% end %>
      </div>
      </div>
      </nav>
      </header>

  <body>
    <%= yield %>
  </body>


</html>
